.title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 18px;
  color:rgb(245, 144, 94);
}

/* .myinfo4 {
    width: 100%;
    max-width: 400px;
    height:700px auto;
    padding: 40px 30px 70px 40px;
    margin: 0 auto;
    margin-top: 70px;

    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(205, 139, 33);
} */

.likehead {
    background-color: rgba(215, 96, 37, 0.2);
    font-size: 12px;
}

tr th {
    padding: 12px;
    border: 1px solid #eeeeee;
    text-align: center;
}

tr td {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 10px;
    font-size: 12px;
}

.detailnum3 {
    width: 18.5%;
}

.detailhead3 {
    text-align: center;
    position: relative;
}

.detailboardtype3 {
    width: 17%;
}

.detailLikebody {
    width: 210px;
    position: absolute;
    display: block;
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap; 
}
  